@page
@model ChefsAndDishes.Pages.Chefs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chef</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chef.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chef.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chef.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chef.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chef.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chef.Birthday)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Chef.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
