@page
@model ChefsAndDishes.Pages.Chefs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chef</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chef.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chef.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chef.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chef.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chef.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chef.Birthday)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Chef.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
